.backgroundGrid {
  background-color: #666;
  background-position: center;
  background-size: cover;
  min-height: 900px;
  font-family: "Varela Round", sans-serif;
  height: 100%;
  color: #282526;
}
.contentGrid {
  margin: 0px 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto);
  grid-column-gap: 15px;
  grid-row-gap: 1%;
}
.eventInfo {
  margin-top: 60px;
  grid-column-start: 3;
  grid-row-start: 1;
  line-height: 2em;
}
.eventImage {
  margin: 60px 0 0 0;
  min-width: 400px;
  max-width: 700px;
  max-height: 400px;
  resize: both;
  grid-column-start: 1;
  grid-row-start: 1;
}
.description {
  grid-column-start: 1;
  grid-row-start: 2;
  font-size: 1.2em;
}
.buyTix {
  top: -60px;
  grid-column-start: 3;
  grid-row-start: 2;
  text-align: left;
  line-height: 1.5em;
}

​ .title {
  text-shadow: 2px 2px 2px #282526;
  line-height: 1.2em;
  color: white;
  font-size: 50px;
  margin-bottom: 15px;
}
.logoBox {
  border: black 1.7px dotted;
  padding: 6px 7px;
  border-radius: 50%;
  color: black;
  transform: scale(2.5) rotate(-45deg);
  position: absolute;
  margin: 60px;
  right: 350px;
  top: 250px;
  color: #ef5a00;
  border-color: #ef5a00;
}
​ ​ .logoBox:hover {
  border-color: #ef5a00 !important;
  transition: all 0.4s ease 0s;
  color: #ef5a00;
  transition: all 0.4s ease 0s;
}

.checkout {
  background: #282526;
  color: #666;
  padding: 25px;
  width: 275px;
  border: 5px white solid;
  border-radius: 8px;
  position: absolute;
  margin-top: 25px;
  line-height: 1.75em;
  box-shadow: 0 2px 200px rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
  .backgroundGrid {
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  .contentGrid {
    display: grid;
    grid-template-rows: 400px auto auto auto;
  }
  .eventImage {
    grid-row-start: 1;
    width: 100%;
  }
  .eventInfo {
    margin: 0 30px;
    grid-row-start: 3;
  }
  .description {
    grid-row-start: 4;
    grid-column-start: 1;
    margin: 0 20px 100px 20px;
  }
  .eventButton {
    grid-row-start: 2;
  }
}
